#app {
    height: 100vh;

    .renovations {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;

        h2 {
            font-weight: bold;
        }

        img {
            max-width: 45%;
        }
    }
}