$clr-modal-content-bgc: #f0f0f0;
$clr-modal-box-shadow: rgba(0, 0, 0, 0.64);
$clr-modal-success-btn: rgb(113 142 232);
$clr-tr-hover: rgba(113, 143, 232, 0.221);
$clr-red: rgba(208, 57, 57, 0.772);
$clr-white: white;
$clr-light-gray: #bababa;
$clr-purple: #879afc;